@font-face {
  font-family: "Roboto";
  src: url("../font/Roboto.ttf");
}

@font-face {
  font-family: "Linotte";
  src: url("../font/Linotte.otf");
}

* {
  margin: 0px;
  padding: 0px;
  list-style: none;
  font-weight: 400;
  font-family: Roboto;
  word-break: keep-all;
  text-decoration: none;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  --l: #ff7d1b;
  --colorB: #fa4a4d;
  --colorC: #1a1b1e;
  overflow-x: hidden;
}

::scrollbar {
  width: 0px !important;
}

*::scrollbar {
  width: 0px !important;
}

*::-webkit-scrollbar {
  width: 0px !important;
}

*::-moz-scrollbar {
  width: 0px !important;
}

*::-ms-scrollbar {
  width: 0px !important;
}

*::-moz-osx-scrollbar {
  width: 0px !important;
}

*::-o-scrollbar {
  width: 0px !important;
}

.is {
  animation: keyUl 500ms;
  animation-fill-mode: forwards;
  display: block !important;
}

.es {
  animation: keyRight 500ms;
  animation-fill-mode: forwards;
}

@keyframes linha {
  0% {
    opacity: 0;
    transform: translateY(-100vh);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes keyLeft {
  0% {
    opacity: 0;
    transform: translateX(-100vw);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes keyRight {
  0% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    opacity: 0;
    transform: translateX(-100);
  }
}
