@import url("../icon/icons.css");
@font-face {
  font-family: "Roboto";
  src: url("../font/Roboto.ttf");
}
@font-face {
  font-family: "Linotte";
  src: url("../font/Linotte.otf");
}
* {
  margin: 0px;
  padding: 0px;
  list-style: none;
  font-weight: 400;
  font-family: Roboto;
  word-break: keep-all;
  text-decoration: none;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  --l: #ff7d1b;
  --colorB: #fa4a4d;
  --colorC: #1a1b1e;
  overflow-x: hidden;
}

::scrollbar {
  width: 0px !important;
}

*::scrollbar {
  width: 0px !important;
}

*::-webkit-scrollbar {
  width: 0px !important;
}

*::-moz-scrollbar {
  width: 0px !important;
}

*::-ms-scrollbar {
  width: 0px !important;
}

*::-moz-osx-scrollbar {
  width: 0px !important;
}

*::-o-scrollbar {
  width: 0px !important;
}

@-webkit-keyframes linha {
  0% {
    opacity: 0;
    transform: translateY(-100vh);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes linha {
  0% {
    opacity: 0;
    transform: translateY(-100vh);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.home {
  height: 100vh;
  position: relative;
  background: #999;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  -webkit-animation: linha 500ms;
          animation: linha 500ms;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  display: none;
}
.home header {
  top: 0px;
  left: 0px;
  display: flex;
  align-items: normal;
  justify-content: space-between;
  flex-direction: row;
  position: absolute;
  width: 100%;
  padding: 2rem 3rem;
}
.home header h1 {
  font-size: 2rem;
  font-weight: 900;
}
.home header ul li {
  margin: 0 2rem 0 0;
  display: inline-block;
}
.home header ul li a {
  color: #333;
  font-weight: 900;
  font-size: 1.1rem;
  letter-spacing: 2px;
}
.home .container {
  display: none;
  width: 100%;
  padding: 2rem 0 0;
}
.home .container .legenda {
  text-align: center;
}
.home .container .legenda h1 {
  padding: 1rem;
  font-weight: 700;
  font-size: 3rem;
  letter-spacing: 2px;
}
.home .container .legenda p {
  font-size: 1.8rem;
}
.home .container .legenda .hrefs {
  display: block;
  margin: 2rem 0 0;
}
.home .container .legenda .hrefs a {
  color: #fff;
  margin: 0 0.6rem;
  border-radius: 3px;
  letter-spacing: 2px;
  padding: 0.8rem 2rem;
  outline: 1px solid #fff;
}
.home .container .legenda .hrefs a.service {
  outline: none;
  background: #333;
}

.services {
  height: 100vh;
  width: 100%;
  padding: 4em;
  position: relative;
  background: #fff;
}
.services .dialogo {
  text-align: center;
  margin: 0 auto;
}
.services .dialogo h2 {
  color: #333;
  font-size: 2rem;
  padding: 1rem 0;
  font-weight: 900;
  letter-spacing: 2px;
}
.contacto {
  height: 85vh;
  background: #000;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  padding: 4rem 3rem;
}
@media (max-width: 768px) {
  .contacto {
    flex-direction: column;
  }
}
.contacto .descreve {
  left: 10px;
  z-index: 0;
  width: 400px;
  padding: 1rem;
  height: 200px;
  background: #fff;
  text-align: center;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  position: relative;
  border-radius: 8px;
}
@media (max-width: 768px) {
  .contacto .descreve {
    top: 10px;
  }
}
.contacto .descreve hgroup {
  padding: 3rem;
}
.contacto .descreve hgroup i {
  font-size: 3.4rem;
  padding: 1rem 0 0.5rem;
}
.contacto .descreve hgroup h1 {
  padding: 0.5rem;
  font-weight: 900;
}
.contacto .form {
  z-index: 1;
  width: 650px;
  border-radius: 8px;
  background: #333;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  padding: 1rem 1.8rem;
}
@media (max-width: 768px) {
  .contacto .form {
    width: 500px;
  }
}
.contacto .form div {
  padding: 1rem 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
}
.contacto .form label {
  width: 100%;
}
.contacto .form label span {
  color: #fff;
  display: block;
  padding: 0.4rem 0;
  font-size: 0.9rem;
}
.contacto .form label input {
  width: 100%;
  border: none;
  outline: none;
  font-size: 0.8rem;
  border-radius: 3px;
  padding: 0.6rem 0.5rem;
}
.contacto .form label textarea {
  width: 100%;
  height: 150px;
  border: none;
  outline: none;
  max-width: 100%;
  font-size: 1rem;
  min-width: 100%;
  max-height: 150px;
  min-height: 150px;
  border-radius: 3px;
  font-family: Linotte;
  padding: 0.6rem 0.5rem;
}
.contacto .form label textarea:focus {
  border: none;
  outline: none;
}
.contacto .form button {
  float: right;
  border: none;
  color: #333;
  display: block;
  font-size: 1rem;
  cursor: pointer;
  font-weight: 500;
  margin: 1rem 0 0;
  border-radius: 3px;
  background: #fff;
  letter-spacing: 2px;
  padding: 0.8rem 2rem;
}/*# sourceMappingURL=index.css.map */