@import "__"
@import url("../icon/icons.css")


body
    // padding: 0px 3.5em


header
    top: 0px
    left: 0px
    z-index: 2
    // bottom: 0px
    @include flex(center)
    position: fixed
    background: #fff
    @include padrao(1rem 3rem)

    h1
        font-size: 2rem
        font-weight: 900   
    ul
        @include table 
            display: none

        &.block
            top: 0px
            left: 0px
            bottop: 0px
            width: 200px
            height: 100vh
            padding: 2rem
            position: fixed
            background: #333
            display: none

            li
                display: block
                margin: 1rem 0

                a
                    color: #000
                    font-weight: 400
        
        li
            margin: 0 2rem 0 0
            display: inline-block

            a
                color: #333
                font-weight: 900
                font-size: 1.1rem
                letter-spacing: 2px

    .btn-toogle
        width: 35px
        height: 30px
        position: relative
        @include flex(center, center, column)
        display: none

        @include table
            display: flex

        i
            float: left
            display: block
            width: inherit
            padding: .2rem
            cursor: pointer
            background: #000
            border-radius: 2px

            &::before, &::after
                top: 2px
                left: 0px
                content: ""
                display: block
                width: inherit
                height: .4rem
                position: absolute
                background: inherit
                border-radius: 2px
            &::after
                top: unset
                bottom: 2px
                

.home
    height: 100vh
    position: relative
    background: #eee
    @include padrao(4rem)
    animation: linha 500ms
    animation-fill-mode: forwards
    @include flex(center, center)


    @include table 
        height: 100%
        padding: 6rem 4rem
        
    .container
        display: none
        @include padrao(2rem 0 0)
        @include flex(center, center, column)
        
        .legenda
            text-align: center
            
            h1
                padding: 1rem
                font-weight: 700
                font-size: 3rem
                letter-spacing: 2px
            p
                font-size: 1.8rem
            
        .hrefs
            display: block
            margin: 2rem 0 0
            text-align: center

            a
                color: #333
                margin: 0 .6rem
                border-radius: 3px
                letter-spacing: 2px
                padding: .8rem 2rem
                outline: 1px solid #333
                    
                &.service
                    color: #fff
                    outline: none
                    background: #333

                    
.services
    // height: 100vh
    display: block
    @include padrao
    background: #fff
    position: relative
    @include flex(center, center, column)

    @include table
        height: unset

    .dialogo
        margin: 0 auto
        padding: 2rem 0
        text-align: center

        h2
            color: #333
            padding: 1rem 0
            font-weight: 900
            font-size: 2.5rem
            letter-spacing: 2px
            // font-family: Linotte
        p
            width: 65%
            margin: 0 auto
            padding: 0 2rem
            font-size: 1.1rem
            word-spacing: 1px
            text-align: center
            line-height: 1.8rem
            letter-spacing: 1px
            text-transform: uppercase

            @include table
                width: 100%
    
    article
        padding: 3rem 0

        @include table
            padding: 3rem

        ul
            width: inherit

            @include grid(3, 2rem)

            @include table
                @include grid(1, 2rem)

            
            li
                padding: 1rem
                border-radius: 3px
                text-align: center
                border: 1px solid #333

                // @include table
                //     padding: 1rem
                    // border-right: none
                    // border-bottom: 1px solid #333

                .img
                    width: 80px
                    height: 80px
                    padding: 1rem
                    margin: 0 auto
                    display: block
                    overflow: hidden
                    object-fit: cover
                    border-radius: 50%
                    @include flex(center, center)
                    border: 2px solid #ccc

                    img
                        display: none
                    i
                        font-size: 2rem

                h3
                    padding: 1rem 0
                    font-weight: 900
                    // text-align: center
                p
                    color: #666
                    font-size: .9rem
                    line-height: 1.6rem
                    // texta-lign: center                
.contacto
    height: 100vh
    background: #000                                                                      
    position: relative
    @include flex(center)
    justify-content: center
    @include padrao(4rem 3rem)

    @include table
        height: 100%
        flex-direction: column
    @include mobile-desk

    .descreve
        left: 10px
        z-index: 0
        width: 400px
        padding: 1rem
        height: 200px
        background: #fff
        text-align: center
        height: max-content
        position: relative
        border-radius: 8px

        @include table
            top: 10px
            left: unset

        hgroup
            padding: 3rem

            i
                font-size: 3.4rem
                padding: 1rem 0 .5rem
            h1
                padding: .5rem
                font-weight: 900

    .form
        z-index: 1
        width: 650px
        border-radius: 8px
        background: #333
        height: max-content
        padding: 1rem 1.8rem

        @include table
            width: 500px

        div
            padding: 1rem 0
            @include grid(2, 1rem)

        label
            width: 100%
            // @include grid(1)


            span
                color: #fff
                display: block  
                padding: .4rem 0
                font-size: .9rem

            input
                width: 100%
                border: none
                outline: none
                font-size: .8rem
                border-radius: 3px
                padding: .6rem .5rem

            textarea
                width: 100%
                height: 150px
                border: none
                outline: none
                max-width: 100%
                font-size: 1rem
                min-width: 100%
                // font-weight: 600
                max-height: 150px
                min-height: 150px
                border-radius: 3px
                font-family: Linotte
                padding: .6rem .5rem

                &:focus
                    border: none
                    outline: none

        button
            float: right
            border: none
            color: #333
            display: block
            font-size: 1rem
            cursor: pointer
            font-weight: 500
            margin: 1rem 0 0
            border-radius: 3px
            background: #fff
            letter-spacing: 2px
            padding: .8rem 2rem
            
